<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.yousense.upload.testapp"
          android:versionCode="2"
          android:versionName="2.0 beta">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:label="yousense-android-upload-testapp">
        <service android:name="org.yousense.eventlog.GzipService" />
    </application>
</manifest>
