<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.yousense.upload.testapp"
          android:versionCode="2"
          android:versionName="2.0 beta">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="17"/>
    <application android:label="yousense-android-upload-testapp" />
</manifest>
